@model StoreFront.DATA.EF.Category

@* This is a Partial View. It does not use the _Layout and is instead used as "part of" another View. Here, it will be loaded into a pop-up/dialog box for Publisher as an AJAX operation. *@

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
    </dl>
</div>

