<connectionStrings>

  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=StoreFront;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="StoreFrontEntities" connectionString="metadata=res://*/StoreFrontModel.csdl|res://*/StoreFrontModel.ssdl|res://*/StoreFrontModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=StoreFront;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="DefaultConnection" connectionString="Data Source=SQL5074.site4now.net;Initial Catalog=db_a81d7c_d2201knguyen;User Id=db_a81d7c_d2201knguyen_admin;Password=Sm4rter@SP1" providerName="System.Data.SqlClient" />
  <add name="StoreFrontEntities" connectionString="metadata=res://*/StoreFrontModel.csdl|res://*/StoreFrontModel.ssdl|res://*/StoreFrontModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5074.site4now.net;Initial Catalog=db_a81d7c_d2201knguyen;User Id=db_a81d7c_d2201knguyen_admin;Password=Sm4rter@SP1&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>