<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StoreFront.UI.MVC-20220308010310.mdf;Initial Catalog=aspnet-StoreFront.UI.MVC-20220308010310;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=StoreFront;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>